[Unit]
Description=Start ccminer on boot
After=network.target

[Service]
ExecStart=/root/ccminer/run.sh
Restart=always
User=root
WorkingDirectory=/root/ccminer

[Install]
WantedBy=multi-user.target
